---
title: Qualys Cloud Agent for VMware Tanzu (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

<p class="note">
<strong>Note: </strong>
The Qualys Cloud Agent for VMware Tanzu tile is currently in beta and is intended for evaluation and test purposes only.
The product may not be fully ready for VMware Tanzu production environment.
</p>

This documentation describes various pre-requisites, key features, installation and configuration steps for Qualys Cloud Agent for VMware Tanzu.

## <a id='overview'></a>Overview

The Qualys Cloud Agent for VMware Tanzu tile aims at deploying the Qualys Cloud Agent on all the (ubuntu stemcell based) VMs spun up in VMware Tanzu environment. With Qualys Cloud Agent deployed in your VMs, you can receive continuous network security updates through the cloud. As soon as changes are discovered on your hosts they are assessed and you know about security posture and vulnerabilities of your hosts on Qualys Platform UI.

## <a id='features'></a>Key Features

Qualys Cloud Agent for VMware Tanzu includes the following key features:

* Qualys Cloud Agent installation on all Ubuntu stemcell based VMs in the VMware Tanzu environment.
* Qualys Cloud Agent from all [Qualys Cloud Platforms](https://www.qualys.com/platform-identification/) is bundled in the tile and a particular Qualys Cloud Agent gets installed as per user configured inputs.
* Private Cloud Platform (PCP) support is added by providing a custom download link. If you are using PCP, host the cloud agent at a network-accessible location inside your environment and use that URL in the download URL field on tile form during installation.
* Using Qualys Cloud Agent, you can get continuous network security updates of the VMs through the cloud. As soon as changes are discovered on your VMs, they will be assessed and you will know about new security threats and vulnerabilities on your host.


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Qualys Cloud Agent for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>January 4, 2021</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>2.4.0.71</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.6.x or above</td>
    </tr>
    <tr>
        <td>Compatible Tanzu Application Service version(s)</td>
        <td>v2.6.x or above</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial and Ubuntu Trusty</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Qualys Cloud Agent for VMware Tanzu has the following requirements:

+ Valid Qualys subscription for Qualys Cloud Agent required.

+ If you are using Private Cloud Platform (PCP), you need to host the cloud agent.

+ All the target VMs where the Qualys Cloud Agent is running, must have an outbound connection to Qualys Cloud Platforms directly or through proxy.

## <a id="limitations"></a>Limitations
Qualys Cloud Agent for VMware Tanzu has the following limitations:

+ Only Ubuntu VMs are supported.

+ Uninstalling the tile does not cleanly remove the cloud agent and hence during installation, the existing qualys-cloud-agent package is removed first irrespective of it being installed earlier and then the configured Debian package is installed.


## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, contact [Qualys Support](https://www.qualys.com/support/).
