---
title: Using Qualys Cloud Agent for VMware Tanzu
owner: Partners
---

This topic describes how to use Qualys Cloud Agent for VMware Tanzu.

##<a id='using'></a> Using Qualys Cloud Agent for VMware Tanzu

This topic describes how to use Qualys Cloud Agent for VMware Tanzu and provides links to the Qualys Cloud Agent documentation. When Qualys Cloud Agent for VMware Tanzu is installed, you will see tile under **Installation Dashboard** from Ops Manager.

<img src="images/qualys_cloud_agent_installation_dashboard.png" alt="Qualys Cloud Agent Installation Dashboard">

Click on **Qualys Cloud Agent for VMware Tanzu** tile to configure account as per prerequisite. Here you can select appropriate platform from dropdown, provide activation ID and customer ID to install Qualys Cloud Agent on VMs.

For more information about using Qualys Cloud Agent, refer following links:

+ [Qualys Cloud](https://www.qualys.com/cloud-agent/)

+ [Qualys Cloud Agent Getting Started Guide](https://www.qualys.com/docs/qualys-cloud-agent-getting-started-guide.pdf)

While creating the activation key, you can provision key to the following apps:

+ Policy Compliance: For more information, refer [Online Help](https://qualysguard.qg2.apps.qualys.com/qwebhelp/fo_portal/index.htm?_ga=2.14681267.482616293.1588827640-760585604.1588827640#t=module_pc/welcome_to_pc.htm) | [PC Getting Started](https://www.qualys.com/docs/qualys-policy-compliance-guide.pdf)

+ Vulnerability Management: For more information, refer [Online Help](https://qualysguard.qg2.apps.qualys.com/qwebhelp/fo_portal/index.htm?&_ga=2.22929854.482616293.1588827640-760585604.1588827640#t=welcome_to_vm.htm) | [Getting Started Guide](https://www.qualys.com/docs/qualys-vmdr-getting-started-guide.pdf)

+ File Integrity Monitoring: For more information, refer [Online Help](https://qualysguard.qg2.apps.qualys.com/fim/help/get_started/get_started.htm?_ga=2.248499458.482616293.1588827640-760585604.1588827640) | [Getting Started Guide](https://www.qualys.com/docs/qualys-fim-getting-started-guide.pdf)

+ Indication of Compromise: For more information, refer [Online Help](https://qualysguard.qg2.apps.qualys.com/ioc/help/get_started/get_started.htm?_ga=2.85844508.482616293.1588827640-760585604.1588827640) | [Getting Started Guide](https://www.qualys.com/docs/qualys-ioc-getting-started-guide.pdf)

+ Patch Management: For more information, refer [Online Help](https://qualysguard.qg2.apps.qualys.com/pm/help/get_started/get_started.htm?_ga=2.110109184.482616293.1588827640-760585604.1588827640) | [User Guide](https://www.qualys.com/docs/qualys-patch-management-user-guide.pdf)

##<a id='upgrading'></a> Upgrading Tile

To upgrade the Qualys Cloud Agent for VMware Tanzu, select upgraded product from the list and click **Apply Changes**. Confirm and click **Review Pending Changes**.

<img src="images/update_tile.png" alt="Upgrading Tile">

Click **Apply Changes** to complete the upgradation process.


##<a id='deletion'></a> Uninstalling Tile

To uninstall the Qualys Cloud Agent for VMware Tanzu, click **delete** icon from that tile.  Confirm and click **Review Pending Changes**.

<img src="images/deletion.png" alt="Uninstalling Tile">

Click **Apply Changes** to complete the uninstallation process.
