<div class="main-container">
  <div class="main">
    <h2 class="title-intro">
      Qualys Cloud Agent for VMware Tanzu
    </h2>
    <ul class="panels">
      <li class="panel span3">
        <a class="configure" href="PARTNER-DOCS-SUBDIR/index.html" id="PARTNER-DOCS-SUBDIR">
          <div class="prodname">
            Qualys Cloud Agent for VMware Tanzu <br />(Beta)
          </div>
        </a>
      </li>
      </ul>
  </div>
</div>

